{% include "header.html" %}
{% extends "main.html" %}
{% block content %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div class="pane">
			<div class="header">
				
			</div>

			<div class="row-fluid">
				<div class="col-md-12 newcat">
					<h1> Are you sure you want to delete category: {{category.name}}? </h1>
					<div class="deletenow">
						<p>
							<form action="{{ url_for('deleteCategory',category_name = category.name)}}" method = 'post'>
								<input type='submit', value = 'Delete'>
							</form>
							<a href = '{{url_for('showCategory', category_name = category.name)}}'> Cancel </a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}