{% include "header.html" %}
{% extends "main.html" %}
{% block content %}
<html>
	<head>
	</head>
	<body>
		<div class="pane">
			<div class="header">
			</div>

			<div class="row-fluid">
				<div class="col-md-12 newcat">
					<h1>{{item.name}}
						<figure class="creator">
							<img src="{{ url_for('static', filename='blank_user.gif') }}">
							<figcaption>{{ creator.name }}</figcaption>
						</figure>
					</h1>
					<h3>Description:</h3><p>{{item.description}}</p>

					<h4><a href = "{{url_for('editCategoryItem', item_name=item.name, category_name=category.name)}}">Edit Item</a> |
					<a href = "{{ url_for('deleteCategoryItem',item_name=item.name, category_name=category.name)}}">Delete Item</a></h4>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}