<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">-->
	</head>
	<body>
		<div class="pane">
			<div class="header">
				<h1>New Category Item</h1>
			</div>
				<form action="{{url_for('newCategoryItem', category_name = category_name)}}" method='POST'>
					<p>Name:</p>
						<input type='text' size='30' name='name'>
					<p>Description:</p>
						<input type='text' size='30' name='description'>
					<input type='submit' value='Create'>
					<a href = '{{url_for('showCategory', category_name = category_name)}}'> Cancel </a>
				</form>
		</div>
	</body>
</html>